<!-- MAIN WRAPPER -->
<div class="body-wrap">
    <div id="st-container" class="st-container">



        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">

                    <section class="slice sct-color-1">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-7">
                                    <div class="card">
                                        <div class="card-body py-5 text-center">
                                            <div class="icon-block icon-block--style-2-v1 text-center">
                                                <div class="block-icon circle bg-green">
                                                    <i class="ion-checkmark-round"></i>
                                                </div>
                                                <h2 class="heading heading-3 strong-500">Votre commande est confirmée.</h2>
                                                <p class="mt-3 px-5">
                                                    Merci pour votre achat, un email de confirmation vient de vous être envoyé.</br>
                                                </p>
                                                <i class="ion-android-arrow-back"></i>
                                                <%= link_to  "Un autre achat ?", items_path, class:"link link--style-3 mt-4" %>

                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->